body{
  background: #3498DB;
  padding: 0px 20px;
}
    
canvas{
  border-radius: 29px;
  background: #e0e0e0;
  box-shadow:  6px 6px 31px #777777,
             -6px -6px 31px #ffffff;
  position: relative;
  top: -3%;
  left: 50%;
  transform: translate(-50%, 0);
}

.contain{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.button {
  align-self:flex-end;
  display: inline-block;
  padding: 12px 24px;
  border: 1px solid #4f4f4f;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 19px;
  color: black;
  z-index: 1;
  margin-left: auto;
 }
 
 .button:before {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) scaleY(1) scaleX(1.25);
      -ms-transform: translateX(-50%) scaleY(1) scaleX(1.25);
          transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  -webkit-transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
 }
 
 .button:after {
  content: "";
  position: absolute;
  left: 55%;
  -webkit-transform: translateX(-50%) scaleY(1) scaleX(1.45);
      -ms-transform: translateX(-50%) scaleY(1) scaleX(1.45);
          transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #39bda7;
  border-radius: 50%;
  display: block;
  -webkit-transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
 }
 
 .button:hover {
  color: #ffffff;
  border: 1px solid #39bda7;
 }
 
 .button:hover:before {
  top: -35%;
  background-color: #39bda7;
  -webkit-transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
      -ms-transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
          transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
 }
 
 .button:hover:after {
  top: -45%;
  background-color: #39bda7;
  -webkit-transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
      -ms-transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
          transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
 }

 .contain h1{
  text-align: center;
  flex: 1;
  position: relative;
  left: 50%;
  transform: translate(-50%);
 }

 .confiner{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 }

    